body {
	font-family: arial; sans-serif;
	/*color: black;*/
	margin: 0;
	padding:10px;
	background-color: lightgray;
	color: black;
}
nav ul{
	display: flex;
	justify-content: center;
	padding: 10px;
	margin: 10px;
}

h2{
	color: black;

}
nav ul li{
	list-style: none;
	padding: 10px;
	text-align: center;
}
p{
	color: black;

}